<div class="navbar navbar-expand-lg navbar-light bg-dark text-white">
  <a class="navbar-brand">SKLEP SPORTOWY</a>
</div>
<div *ngIf="orderSent" class="text-xl-center">
  <h2>Dziekujemy</h2>
  <p>Dziekujemy za zlozenie zamowienia</p>
  <p>Produkty zostana wyslane jak najszybciej</p>
  <button class="btn btn-primary" routerLink="/">Powrot do sklepu</button>
</div>
<form *ngIf="!orderSent" #form="ngForm" novalidate (ngSubmit)="submitOrder(form)">
  <div class="form-group">
    <label>Imie i nazwisko</label>
    <input class="form-control" #name="ngModel" name="name"
           [(ngModel)]="order.name" required />
    <span *ngIf="submitted && name.invalid" class="text-danger">
      Prosze podac imie i nazwisko
    </span>
  </div>

  <div class="form-group">
    <label>Adres</label>
    <input class="form-control" #address="ngModel" name="address"
           [(ngModel)]="order.address" required />
    <span *ngIf="submitted && address.invalid" class="text-danger">
      Prosze podac adres
    </span>
  </div>

  <div class="form-group">
    <label>Miejscowosc</label>
    <input class="form-control" #city="ngModel" name="city"
           [(ngModel)]="order.city" required />
    <span *ngIf="submitted && city.invalid" class="text-danger">
      Prosze podac miejscowosc
    </span>
  </div>

  <div class="form-group">
    <label>Wojewodztwo</label>
    <input class="form-control" #state="ngModel" name="state"
           [(ngModel)]="order.state" required />
    <span *ngIf="submitted && state.invalid" class="text-danger">
      Prosze podac wojewodztwo
    </span>
  </div>

  <div class="form-group">
    <label>Kod pocztowy</label>
    <input class="form-control" #zip="ngModel" name="zip"
           [(ngModel)]="order.zip" required />
    <span *ngIf="submitted && zip.invalid" class="text-danger">
      Prosze podac kod pocztowy
    </span>
  </div>

  <div class="form-group">
    <label>Kraj</label>
    <input class="form-control" #country="ngModel" name="country"
           [(ngModel)]="order.country" required />
    <span *ngIf="submitted && country.invalid" class="text-danger">
      Prosze podac kraj
    </span>
  </div>

  <div class="text-xl-center">
    <button class="btn btn-secondary" routerLink="/cart">Powrot</button>
    <button class="btn btn-primary" type="submit">Zloz zamowienie</button>
  </div>
</form> 
